[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
scikit-learn = "*"
lightgbm = "*"
xgboost = "*"
catboost = "*"
numpy = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.9"
